@import url(https://fonts.googleapis.com/css2?family=Rubik%3Awght%40300%3B400%3B500%3B600%3B700%3B800%3B900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto%3Awght%40100%3B300%3B400%3B500%3B700%3B900&display=swap);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00FFFF;
    --secondary-color: #854fee;
    --bg-white: #fff;
    --bg-light: #faf8ff;
    --bg-black: #000;
    --bg-grey: #eee;
    --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);

    --primary-text: #4458dc;
    --secondary-text: #854fee;
    --text-white: #fff;
    --text-black: #000;
    --text-grey: #777;


    --primary-font: 'Rubik', 'sans-serif';
    --secondary-font: 'Roboto', 'sans-serif';
}

body {
    font-family: var(--secondary-font);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: rgb(84, 83, 83);
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar {
    width: 10px;
}

section {
    padding: 5rem 0;
}


h1 {
    font-size: 3.5rem;
    line-height: 3.75rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1.25rem;
    font-family: var(--primary-font);
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1.5625rem;
    font-family: var(--primary-font);
}

h5 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-white);
    margin-bottom: 2.1875rem;
    max-width: 80%;
}

p {
    color: white;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
}

.header-wrapper .navbar {
    padding: 0.2rem 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #3e4143;
}


.header-wrapper .navbar-brand {
    font-weight: 400;
    font-family: "sofia", sans-serif;
    font-size: 25px;
    color: white;
}

.header-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header-wrapper .nav-item {
    margin: 0 0.5rem;
}

.header-wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    display: inline-block
}


.header-wrapper .nav-item .nav-link:hover {
    /* color: rgb(0, 119, 237); */
    text-decoration: underline;
    scale: 1.09;
}

.header-wrapper .navbar-brand:hover {
    scale: 1.05;
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    box-shadow: 0 0.25rem 0.375rem rgba(12, 0, 46, 0.05);
    -webkit-box-shadow: 0 0.25rem 0.375rem rgba(12, 0, 46, 0.05);
}

.banner-wrapper {
    padding-top: 8.5rem;
    z-index: 1;
}

.banner-wrapper .banner-content {
    vertical-align: middle;
    align-self: center;
}

.banner-wrapper .banner-content h2 {
    padding-bottom: 8px;
    margin-bottom: 8px;
    width: 56%;
}

#socialicons a {
    padding-right: 0.65rem;
    color: rgb(255, 255, 255);
    transition-timing-function: linear;
}

.social:hover {
    scale: 1.1;
}


.section-heading {
    font-weight: 400;
    font-family: 'Rubik', 'sans-serif';
    color: white;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.2rem;
}

#about {
    padding: auto;
    margin: auto;
}

.top-right-img {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.padding-content {
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.edu-card {
    color: white;
    border: white 2px solid;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    transition: transform .2s;
    transition-timing-function: linear;
}

.edu-logo {
    width: 100%;
}

.edu-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px grey;
}

#resume-button {
    padding: 8px 35px;
    /* height: 29; */
    border-radius: 5px;
    background: transparent;
    border: 3px white solid;
    transition-timing-function: linear;
}

#resume-button:hover {
    scale: 1.04;
    backdrop-filter: blur(20px);
}

.resume-button {
    padding-top: 1rem;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2.5s;
    animation-timing-function: steps(50, end);
    animation-fill-mode: forwards;
}

#pre-loader {
    background: #000 url(images/preloder.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
}

.footer {
    text-align: center;
}


.gallery-container img {
    height: 120px;
    margin: 0 10px;
    transition: linear 0.2s;
}

.gallery-container img:hover {
    scale: 1.2;
}

.gallery-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    justify-content: center;
}